body{
  margin: 0;
  padding: 0;
  background: #333;
}

.text{
  line-height: 1000px;
  color: white;
}

.morning{
  color: #333;
}


.make{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.time{
  width: 6px;
  height: 60px;
  background: white;
  display: inline-block;
  transform-origin: bottom center;
  animation: loading 1.5s ease-in-out infinite;
}

.time1{
  animation-delay: 0.1s;
}
.time2{
  animation-delay: 0.2s;
}
.time3{
  animation-delay: 0.3s;
}
.time4{
  animation-delay: 0.4s;
}
.time5{
  animation-delay: 0.5s;
}
.time6{
  animation-delay: 0.6s;
}
.time7{
  animation-delay: 0.7s;
}
.time8{
  animation-delay: 0.8s;
}

@keyframes loading {
  0%{
    transform: scaleY(0.1);
    background: #fff
  }
  50%{
    transform: scaleY(1);
    background: #2ecc71
  }
  100%{
    transform: scaleY(0.1);
    background: transparent;
  }
}
